@using PetStore.Repository
@using PetStore.Models
@using PetStore.Pages.Admin
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore

@page "/admin/orders"

@inherits OwningComponentBase<IOrderRepository>

<OrderTable TableTitle="Unshipped Orders"
            Orders="UnshippedOrders" ButtonLabel="Ship"
            OrderSelected="ShipOrder" />

<OrderTable TableTitle="Shipped Orders"
            Orders="ShippedOrders" ButtonLabel="Reset"
            OrderSelected="ResetOrder" />

<button class="btn btn-info" @onclick="@(() => UpdateData())">Refresh Data</button>


@code {
    public IOrderRepository Repository => Service;

    public IEnumerable<Order> AllOrders { get; set; }
    public IEnumerable<Order> UnshippedOrders { get; set; }
    public IEnumerable<Order> ShippedOrders { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllOrders = await Repository.Orders.ToListAsync();

        UnshippedOrders = AllOrders.Where(x => !x.Shipped);
        ShippedOrders = AllOrders.Where(x => x.Shipped);
    }
    public void ShipOrder(int id) => UpdateOrder(id, true);
    public void ResetOrder(int id) => UpdateOrder(id, false);
    private void UpdateOrder(int id, bool shipValue)
    {
        Order o = Repository.Orders.FirstOrDefault(x => x.OrderId == id);
        o.Shipped = shipValue;
        Repository.SaveOrder(o);
    }
}