@model LoginViewModel

@{ Layout = null; } 

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width: device-width" />
    <title>PetStore</title>

    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="col-3">
            <a class="navbar-brand btn btn-outline-danger"
               asp-action="Index" asp-controller="Home">
                PETS & ACCESSORIES
            </a>
        </div>
        <div class="col-9"></div>
    </div>
    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Login" asp-controller="Account" method="post">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Name"></label>
                <div asp-validation-for="Name" class="text-danger"></div>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div asp-validation-for="Password" class="text-danger"></div>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <button class="btn btn-primary" type="submit">Log In</button>

        </form>
    </div>

</body>
</html>



